{% extends "base.html" %}
{% block content %}


<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
    <fieldset>
        <legend>
            <h2>Log In</h2>
        </legend>
			<div class="red">
			{{ form.non_field_errors  }}
			</div>        
        <br>
        <div class="control-group">
            <label class="control-label" for="input_login">{{ form.username.label_tag }}</label>
            <div class="controls">
				{{ form.username }}
				<div class="red">{{ form.username.errors }}</div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_password">{{ form.password.label_tag }}</label>
            <div class="controls">
				{{ form.password }}  
				<div class="red">{{ form.password.errors }}</div>           
            </div>
        </div>
        <div class="login_buttons">
            <button type="submit" class="btn btn-primary">Log In</button>
            <a href="/signup/">Create new account</a>
        </div>

    </fieldset>
    <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock content %}
