.js-like{
  cursor: pointer;
}
.login_buttons{
	margin-left:160px;
}
.ask_button{
	width:100px;
}
.margin0 {
	margin:0;
}
.width0 {
	width:0;
}
.ask_title_lbl {
	float:left;
	width:60px;
	margin-left:20px;
	padding-top: 5px;
}
.ask_title {
}
textarea {
   resize: none;
}
.question_box {
    border: solid 1px lightgray;
    margin-bottom: 20px;
    padding: 10px 0px; 
    position: relative;
    /*height:12em;*/
}
.question,
.answer {
    margin-top: 5px;
    line-height:1.5em;
    font-size: 10pt;
    margin-bottom: 1em;
}
.answer {
	margin-bottom:0px;
}
.question_brief {
    margin-top: 5px;
    line-height:1.5em;
    overflow: hidden;
    font-size: 10pt;
    margin-bottom: 1em;
}
.best_btn{
	position:absolute; bottom:10px;
}
.question_rating_box {
	text-align:center; margin-left:10px;
}
.width100 {
	width:100%;
}
.left10 {
	margin-left:10px;
}
.question_rating {
   display: inline-block; 
   top: 7px;
}
.question_bottom_box,.answer_bottom_box {
	height:60px;
}
.question_bottom {
    position: absolute; 
    bottom: 10px;
    width:400px;    
}
.question_avatar,.answer_avatar {
    position:absolute; right:10px; bottom:10px;
    width:50px; height:50px;
}
.question_date,.answer_date {
	position:absolute; right:70px; bottom:10px; background-color:white;
}
.question_username, .answer_username {
	position:absolute; right:70px; bottom:30px; background-color:white;
}
.title {
    margin-bottom:10px;
}
#user_buttons {
	margin-left:0;position:relative;height:60px;
}
#user_buttons_not_logged {
	margin-left:0;position:relative;height:40px
}
a.red:link, a.red:visited, a.red:hover, a.red:active, .red {
    color:red;
}

a.white:link, a.white:visited, a.white:hover, a.white:active, .white {
    color:white;
}

a.black:link, a.black:visited, a.black:hover, a.black:active, .black {
    color:black;
}

a.green:link, a.green:visited, a.green:hover, a.green:active, .green  {
    color:green;
}

.larger {
    font-size:x-large;
}

.large {
    font-size:larger;
}

a.orange:link, a.orange:visited, a.orange:hover, a.orange:active, .orange {
    color:orange;
}



.popular_tag {
    margin-bottom: 10px;
    display:inline-block;
    font-size:large;
}

.members {
    #text-decoration:underline;
    font-size:large;
    margin-bottom: 10px;
    display:inline-block;
}

.relative {
    position: relative;
}

#navbar_div {
    position: absolute; bottom: 5px;
}

.transparent {
    background-color: transparent;
}

.line50 {
	line-height:50px;
}

.inline {
    display: inline-block;
}




#top_right_avatar {
    margin: 5px 5px 5px 5px;
    width:50px;
    height:50px;
}
#nav_brand50 {
	line-height:50px; margin:5px; padding-top:0; padding-bottom:0;
}
.navbar_li50 {
	line-height:50px !important;
	 margin:5px !important;
	 padding:0 !important;
}
.navbar_div50 {
	height:50px !important;
	 margin:5px !important;
	 padding:0 !important;
}
#ask_button_div {
	display:inline-block;line-height:50px;margin:5px;
}
#ask_button {
	margin:0;
}
#top_right_username {
    font-size: large; 
    margin-top: 10px; 
    color:white;
}

#top_right_settings_row {
    position: absolute; 
    bottom: 5px;
    color:white;
}

#top_right_logout {
    margin-left: 10px;
}



.hid {
    display: none !important;
}
