<div class="question_box row">    
    
    <div class="span8">  
		
		{% if q.best_answer_id = a.id %}
	       <div class="alert alert-success"> Best answer</div>
       {% endif %}
        <div class="answer">    
			{{a.text}}
        </div>
        <div class="answer_bottom_box">
		{% ifequal q.author_id user.profile.id %}
		
 		{% if not best_exists %}
			<button class="btn best_btn" data-ans="{{a.id}}" data-quest="{{q.id}}">This is the best answer</button>
        {% endif %}
        {% endifequal %}
        <a href="/user/{{q.author.user.username}}"><img class="answer_avatar" src="{{a.author.safe_avatar}}" /></a>
        <div class="answer_date">{{a.date_added}}</div>
        <div class="answer_username">{{a.author.user.username}}</div>
        </div>
    </div>
    
</div>

{% if q.best_answer_id = a.id %}
<br/>
{% endif %}
