{% extends "base.html" %}

{% block content %}


<form class="form-horizontal" method="post" action="{% url 'askapp.views.ask' %}">
{% csrf_token %}
<fieldset>
        <legend class="margin0">
            <h2>Ask a question</h2>
        </legend>
        
        <br>
        <div class="control-group">
            <label  for="id_title">{{ form.title.label_tag }}</label>  
                {{ form.title }}
        </div>
        <div class="control-group">
            <label for="id_text">{{ form.text.label_tag }}</label>            
                {{ form.text }}            
        </div>   
        
        <div class="control-group">
            <label  for="id_tags">Tags (max 3):</label>            		
            <div class="red">{{ form.tags.errors }}</div>
                {{ form.tags }}
        </div>
       
            <button type="submit" class = "btn btn-primary ask_button" value="submit">Ask</button>
       
		
    </fieldset>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
