
<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="http://localhost/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://localhost/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
           
</head>
<body>

<div class="navbar">
<div class="navbar-inner">
    <div class="container">
        <!--div class="row"-->
            <div class="span11 {% if user.is_authenticated %}line50{% endif %}">
                <a class="brand" {% if user.is_authenticated %}id="nav_brand50"{% endif %} href="/">Ask Pupkin</a>
                <form class="navbar-search">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                
                <div class="nav-collapse line50" >
				<ul class="nav">
					<li class="divider-vertical  {% if user.is_authenticated %}navbar_div50{% endif %}"></li>
					<li><a href="/hot/" {% if user.is_authenticated %}class="navbar_li50"{% endif %}>Hot questions</a></li>
					<li class="divider-vertical  {% if user.is_authenticated %}navbar_div50{% endif %}"></li>
					<li><a href="/recent/" {% if user.is_authenticated %}class="navbar_li50"{% endif %}>Recent questions</a></li>
				</ul></div>
                <div class="pull-right" >
                <a href="/ask/" class="btn btn-success">
                    Ask!
                </a>
                </div>
            </div>

            {% include "user.html" %} 
            
        <!--/div-->
    </div>
</div>
</div>
<!-- navbar end -->

    <div class="container">

        <div class="row">
            <div class="span9">
                {% block content %} 
				<p>main</p>
                {% endblock %}                       
            </div>
            <div class="span3">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
</body>
</html>


