{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="style.css">
{% block content %}


<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
    <fieldset>
        <legend>
            <h2>Log In</h2>
        </legend>
        {% if form.errors %}
        <div class="red">
			<!--{% for field, errors in form.errors.items %}
				{% for error in errors %}-->
		{{ form.errors }}
		</div>
		{% endif %}		
        
        <br>
        <div class="control-group">
            <label class="control-label" for="input_login">{{ form.username.label_tag }}</label>
            <div class="controls">
				{{ form.username }}
				<!--id-->
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_password">{{ form.password.label_tag }}</label>
            <div class="controls">
				{{ form.password }}
                <!--input type="password" class="input-xlarge" id="input_password" placeholder="Enter your password here..."-->
            </div>
        </div>
        <div class="form-actions transparent">
            <button type="submit" class="btn btn-primary">Log In</button>
            <a href="/signup/">Create new account</a>
        </div>

    </fieldset>
</form>


{% endblock content %}
