{% if items.has_previous or items.has_next %}
<div class="pagination">
    <ul>
		{% if items.has_previous %}
			<li><a href="?page={{items.previous_page_number}}">Prev</a></li>
        {% endif %}
        {% for pr in prev %}
        <li><a href="?page={{pr}}">{{pr}}</a></li>        
        {% endfor %}
        <li class="active">
            <a href="?page={{ items.number }}">{{ items.number }}</a>
        </li>
        {% if items.has_next %}			
			<li><a href="?page={{ items.next_page_number }}">{{ items.next_page_number }}</a></li>
        {% endif %}
        {% if dotdotdot %}
				<li><a href="?page={{ items.next_page_number }}">...</a></li>
		{% endif %}
		
		{% if answers.has_next %}
        {% ifnotequal items.next_page_number items.paginator.num_pages %}			
			<li><a href="?page={{ answers.paginator.num_pages }}">{{ items.paginator.num_pages }}</a></li>			
        {% endifnotequal %}
        {% endif %}
        
        {% if items.has_next %}	
			<li><a href="?page={{ answers.next_page_number }}">Next</a></li>
		{% endif %}
    </ul>
</div>
{% endif %}
