{% extends "base.html" %}

{% block content %}

{% include "like_script.html" %}

<script>
$(function(){
			$('.best_btn').click(function(){
				alert ('pumba');
				var $btn = $(this);
				$.ajax({type : 'POST',
					url : '/best/',
					data : {'a_id' : $btn.data("ans"), 'q_id' : $btn.data("quest")},
					success : function(resp) {
						if(resp.status == 'ok'){			
							$btn.parent().parent().prepend('<div class="alert alert-success"> Best answer</div>');
							$('.js-answers').prepend('<br/>');
							$btn.parent().parent().parent().prependTo('.js-answers');
							$('.js-answers').find('.best_btn').remove();	
						 } else {
							 alert(resp.error);
						 }
					 },
					
					dataType : 'json'});
			});
		});
</script>

<h2 class="title">Question:</h2>


{% include "question_box.html" %}
<h2 class="title">
{% ifnotequal answers.paginator.count 0 %}

		{{answers.paginator.count}} 
	answers:
{% else %}		
 No answers.
{% endifnotequal %}	

</h2>
<div class="js-answers">
{% for a in answers %}
      {% include "answer_box.html" %}
{% endfor %}
</div>
{% with answers as items %}
{% include "pagination.html" %}
{% endwith %}

{% if user.is_authenticated %}
<form class="row form-horizontal" method="post" action="{{request.path}}">
{% csrf_token %}        
          <legend>Your answer:</legend>
          
          <div class="control-group">          
              {{form.text}}         
          </div>   
          <button type="submit" class="btn btn-primary">Answer</button>        
</form>
{% endif %}
{% endblock content %}
