<div class="question_box row">
    <div class="span1 question_rating_box">       
		
        <i class="js-like icon-chevron-up" data-q_id="{{q.id}}" data-auth_id="{{q.author_id}}" data-like="1"></i><br/>
        {% if q.rating >= 0 %}
			<span class="badge badge-success question_rating js-cnt">
		{% else %}
			<span class="badge badge-error question_rating js-cnt">
		{% endif %}
			{{q.rating}}
			</span><br/>
        <i class="icon-chevron-down js-like" data-q_id="{{q.id}}" data-auth_id="{{q.author_id}}" data-like="0"></i>
    </div>
    
    <div class="span7 left10">
        <a href="/question/{{q.id}}/">
			{% if question_brief %}
            <h3>{{q.title|truncatechars:60}}</h3>
            {% else %}	
            <h3>{{q.title}}</h3>
            {% endif %}
        </a>
        {% if question_brief %}
        <div class="question_brief">		
            {{q.text|truncatechars:222}}
        {% else %}	
        <div class="question">    
			{{q.text}}
		{% endif %}	
        </div>
        <div class="question_bottom_box">
        <div class="question_bottom">
            <a href="/question/{{q.id}}/"><i class="icon-comment"></i> answer({{q.answer_set.count}})</a>
           
           {% ifnotequal q.tags.count 0 %}
            Tags:
            {% for tg in q.tags.all %}            
				<a href="/?tag={{tg.tag}}">{{tg.tag}}</a>
			{% endfor %}
           {% endifnotequal %}
            
            
        </div>
        
        <a href="/user/{{q.author.user.username}}"><img class="question_avatar" src="{{q.author.safe_avatar}}" /></a>
        <div class="question_date" >{{q.date_added}}</div>
        <div class="question_username">{{q.author.user.username}}</div>
        </div>
    </div>
    
</div>
