{% extends "base.html" %}
{% block content %}

<form class="form-horizontal" method="post" action="{% url 'askapp.views.profile' %}"  enctype="multipart/form-data">
	{% csrf_token %}
    <fieldset>
        <legend>
            <h2>Settings: {{user.username}}</h2>
        </legend>
		{{ form.non_field_errors }}
        <div class="control-group">
            <label class="control-label" for="input_login">Username</label>
            <div class="controls">
                {{form.username}}
				<div class="red">{{ form.username.errors }}</div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_email">E-mail</label>
            <div class="controls">
                {{form.email}}  
				<div class="red">{{ form.email.errors }}</div>
            </div>
        </div>    
        <div class="control-group">
            <label class="control-label" for="id_password">{{form.current_password.label_tag}}</label>
            <div class="controls">
				{{form.current_password}}
				<div class="red">	{{ form.current_password.errors }}</div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_password">{{form.password.label_tag}}</label>
            <div class="controls">
				{{form.password}}
				<div class="red">	{{ form.password.errors }}</div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_repeat_password">{{form.repeat_password.label_tag}}</label>
            <div class="controls">
				{{form.repeat_password}}
				<div class="red">	{{ form.repeat_password.errors }}</div>
            </div>
        </div>    
        <div class="control-group">
            <label class="control-label" for="input_avatar">Upload avatar</label>
            <div class="controls">
				{% if user.profile.avatar %}       	 
					<a class="thumbnail inline">					
						<img src="{{ user.profile.avatar.url }}"/>  
					</a> 
					<br/>
                {% endif %}                
                {{form.avatar}}  
				<div class="red">	{{ form.avatar.errors }}</div>
				<br/>
				{% if user.profile.avatar %}   
					<label class="checkbox">
					<input type="checkbox" name="remove"/>
					Remove avatar
					</label>
                {% endif %}
            </div>
            
				
        </div>

        <div class="form-actions transparent">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </fieldset>
</form>


{% endblock content %}
