{% load inclusion %}
<!--h2 class="title">Popular tags</h2>
<a class="popular_tag" href="tag1">popular tag1</a>
<a class="popular_tag red" href="tag2">popular tag2</a>
<a class="popular_tag large" href="tag3">tag3</a>
<a class="popular_tag" href="tag4">tag4</a>
<a class="popular_tag large" href="tag1">popular tag1</a>
<a class="popular_tag large" href="tag2">tag2</a>
<a class="popular_tag red larger" href="tag3">tag3</a>
<a class="popular_tag green larger" href="tag4">tag4</a>
<a class="popular_tag" href="tag1">tag1</a>
<a class="popular_tag larger" href="tag2">tag2</a>
<a class="popular_tag orange" href="tag3">tag3</a>
<a class="popular_tag" href="tag4">tag4</a-->

{% best_tags %}
{% best_users %}

