{% extends "base.html" %}
{% block content %}


<form class="form-horizontal" method="post" action="{% url 'askapp.views.signup2' %}">
{% csrf_token %}

    {{form}}
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>


{% endblock content %}
