{% extends "base.html" %}
{% block content %}

<form class="form-horizontal" method="post" action="{% url 'askapp.views.signup' %}"  enctype="multipart/form-data">
{% csrf_token %}
    <fieldset>
        <legend>
            <h2>Registration</h2>
        </legend>
		{{ form.non_field_errors }}
        <div class="control-group">
            <label class="control-label" for="id_login">{{form.username.label_tag}}</label>            
            <div class="controls">
				{{form.username}}  
				<div class="red">{{ form.username.errors }}</div>           
            </div>            
        </div>
        <div class="control-group">
            <label class="control-label" for="id_email">{{form.email.label_tag}}</label>
            <div class="controls">
				{{form.email}}
				<div class="red">	{{ form.email.errors }}</div>				
            </div>
        </div>        
        <div class="control-group">
            <label class="control-label" for="id_password">{{form.password.label_tag}}</label>
            <div class="controls">
				{{form.password}}				
				<div class="red">{{ form.password.errors }}</div>				
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_repeat_password">{{form.repeat_password.label_tag}}</label>
            <div class="controls">
				{{form.repeat_password}}				
				<div class="red">	{{ form.repeat_password.errors }}</div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_avatar">Upload avatar</label>
            <div class="controls">                 
                {{ form.avatar }}
                <div class="red">{{ form.avatar.errors }}</div>
            </div>
        </div>

        <div class="form-actions transparent">
            <button type="submit" class="btn btn-primary">Sign up</button>            
        </div>

    </fieldset>
    <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock content %}
