
{% if user.is_authenticated %}
            <div class="span3 pull-right">
                <div class="row">
                    <div class="span1">

                        <img id="top_right_avatar" src="{{ user.profile.safe_avatar }}" />
                    </div>
                    <div class="span2" id="user_buttons">
                        
                            <div id="top_right_username">
                                <a href="/profile/" class="white">{{user.username}}</a>
                            </div>
                        
							<div id="top_right_settings_row">

								<a href="/profile/" class="white">settings</a>

								<a href="/logout/" class="white" id="top_right_logout">log out</a>

							</div>
						
                    </div>
                </div>
            </div>
{% else %}
<div class="span2 pull-right"id="user_buttons_not_logged" >
<div id="top_right_settings_row" >

        <a href="/login/?next={{request.path}}" class="white">log in</a>

		<a href="/signup/?next={{request.path}}" class="white" id="top_right_logout">sign up</a> 
</div>
</div>
{% endif %}            
